.container {
    width: 1000px;
}

.card {
    height: 60%;
    background: #ddbcf5;
    border-radius: 20px;
    border: none;
}

h4 {
    margin-top: 1%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

.form-section {
    display: none;
    animation: fadeIn 0.6s ease-in-out;
}

    .form-section.active {
        display: block;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section {
    display: flex;
    align-items: center;
    margin: 25px 0;
    padding: 0 10%;
}

    .section label {
        flex: 0 0 30%;
        text-align: right;
        margin-right: 50px;
        font-weight: bold;
        font-size: 1.2rem;
        color: #555;
    }

    .section input,
    .section select,
    .section textarea {
        width: 40%;
        padding: 10px 25px;
        border: 1px solid black;
        border-radius: 25px;
        background: transparent;
        font-size: 1rem;
    }

    .section select {
        width: 40%;
    }


input[type="file"] {
    background: transparent;
    padding: 10px 15px;
    border: 2px dashed black;
    text-align: center;
    transition: border 0.3s ease;
    width: 27%;
    margin: 20px auto;
    display: block;
}

    input[type="file"]:hover {
        border-color: #ff758c;
    }

.btn-secondary {
    border-radius: 25px;
    background: #ff758c;
    border: none;
    padding: 12px 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-primary {
    border-radius: 25px;
    width: 14%;
    background: #ff758c;
    border: none;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.d-flex {
    gap: 10px;
}

.d-grid {
    margin-top: 20px;
}

.text-center a {
    margin-top: 15px;
    display: inline-block;
}

.text-danger {
    font-size: 0.85rem;
    margin-top: 5px;
}


.profile-picture-upload input[type="file"] {
    background: transparent;
    padding: 10px 15px;
    border: 2px dashed black;
    text-align: center;
    transition: border 0.3s ease;
    width: 80%;
    margin-left: 0%;
    display: block;
}

    .profile-picture-upload input[type="file"]:hover {
        border-color: #ff758c;
    }